#headliner
p{padding:55px
15px 0 255px}.section_bottom{margin-top: -2px}#o_resource{margin: -13px 0 -19px 0}#workshops
p{padding:8px
0}#signup_form{width:168px;padding:12px
0 0 0}#signup_form
h2{font-size:13px}#search_box{display:inline;padding-left:18px;margin:25px
0 0 25px}#two_col_top{margin-bottom: -7px}#sb_content_generic
ul{margin:0}#sb_content_generic ul li ul
li{list-style-position:outside}.post
p.title{width:650px}.footer_nav
ul{margin:0;padding-top:5px}#copyright{clear:none;padding-top:25px}